<% if @task.nil? %>
<h2> 404 Not found</h2>
<% else %>
<h2><%=@task.name %></h2>
<h3> <%= @task.description %></h3>
<p> Complete by: <%= @task.completion_date %> </p>

<div>
   <!-- <%= link_to "Edit #{@task.name}", edit_task_path(@task.id) %>  -->

    <a href=" <%edit_task_path(@task.id)%>" class ="button button1"> Edit <%"#{@task.name}"%> </a>

    <!-- <h4><a href="<%= new_task_path%>" class = "button button1">
    Add a Task
    </a></h4> -->

</div>
<br>
<div>

  <!-- <h4><a href="<%= new_task_path%>" class = "button button1">
  Add a Task
</a></h4> -->

  <%= link_to "Delete #{@task.name}", delete_task_path(@task.id), method: :delete %>

</div>

<!-- <% end %> -->
