<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <h1>Welcome to Sabine's TaskList!</h1>
        <nav>
          <a href="<%= new_task_path%>">
                       Add a Task
                     </a>

        <!-- <%# link_to "Add a new Task", '/tasks/new', 'new_task'%> -->

              <!-- <%# link_to  "Home", "/", id: "home-link" %> -->
             <!-- <%# link_to "Task Index", tasks_path%> -->
             <!-- <a href="<%# new_task_path %>" -->
              <!-- Add a task -->


        </nav>
      </header>
      <main>
        <%= yield %>
      </main>
    </body>
  </html>
